In [2]:
a = 5
b = 2
value = a/b
print(type(value))
int_value = int(value)
print(int_value)
print(type(int_value))

<class 'float'>
2
<class 'int'>

In [3]:
# String to Integer
q = 20
u = '10'
print(type(u))
r = q + int(u)
print(r)

<class 'str'>
30

In [4]:
# Float to Integer
n1 = 10.36
vn1 = int(n1)
print(vn1)
print(type(vn1))

10
<class 'int'>

In [5]:
# Integer to Float
n2 = 10
vn2 = float(n2)
print(vn2)
print(type(vn2))

10.0
<class 'float'>

In [6]:
# Integer to Complex
n3 = 10
vn3 = complex(n3)
print(vn3)
print(type(vn3))

(10+0j)
<class 'complex'>

In [7]:
# Integer to String
n4 = 10
vn4 = str(n4)
print(vn4)
print(type(vn4))

10
<class 'str'>

In [8]:
# String to Tuple
n5 = "PthonProgramming"
vn5 = tuple(n5)
print(vn5)
print(type(vn5))

('P', 't', 'h', 'o', 'n', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')
<class 'tuple'>

In [9]:
# Tuple to List
n5 = ("Rahul", "Ram", "Sonam", "Preet")
vn5 = list(n5)
print(vn5)
print(type(vn5))

['Rahul', 'Ram', 'Sonam', 'Preet']
<class 'list'>